*{
	padding: 0;
	margin: 0;
  max-width: 98%;
}

body {
  background-image: linear-gradient(to bottom, rgba(107, 0, 190, 0.76), #31cdff);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "perpetua, helvetica";
  font-size: 20px;
}

.header {
  padding: 24px;
  text-align: center;
  line-height: 70px;
  width: 100%;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.center{
  display: flex;
  justify-content: center;
}

#error{
	background-image: url(assets/404.png);
	background-repeat: no-repeat;
  background-position: center;

	background-size: 70%;
	
	width: 50vw;
	height: 50vh;
	margin: 0;
}

.main {
  text-align: center;

  font-family: "perpetua, helvetica";
  font-size: 40px;

  margin: 0;
}

.note {
  font-size: 20px;

  position: relative;
  left: 4vw;
  margin-top: 20px;

  display: block;
  width: 100%;
}

.bottomButtons {
  position: relative;
  top: 20px;
  display: block;
}

.leftButton {
  position: absolute;
  left: 12vw;
}

.linkButtons {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 5px rgba(169, 89, 230, 0.685);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.15);
  z-index: 2;
}

#homeButton {
  background-image: url(assets/Home.PNG);
  background-repeat: no-repeat;
  background-position: center;

	background-size: 80%;
	
	width: 16vw;
	height: 11vh;

  position: absolute;
  transform: translateX(-50%);
  left: 33.3%;
}

#githubButton {
  background-image: url(assets/GitHub.png);
  background-repeat: no-repeat;
  background-position: center;

	background-size: 80%;
	
	width: 16vw;
	height: 11vh;

  position: absolute;
  transform: translateX(50%);
  right: 33.3%;
}