*{
	padding: 0;
	margin: 0;
}

body {
  background-image: linear-gradient(to bottom, rgba(107, 0, 190, 0.76), #31cdff);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "perpetua, helvetica";
  font-size: 20px;
}

.header {
  padding: 24px;
  text-align: center;
  line-height: 70px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.center{
  display: flex;
  justify-content: center;
}

#error{
	
	background-image: url(assets/404.png);
	background-repeat: no-repeat;
  background-position: center;

	background-size: 70%;
	
	width: 50vw;
	height: 50vh;

	margin: 0;
}

.main {
  text-align: center;

  font-family: "perpetua, helvetica";
  font-size: 40px;

  margin: 0;
}

.bottomNote {
  position: relative;
  top: 40px;
}

.leftNote {
  position: absolute;
  left: 4vw;
}

.bottomButtons {
  position: relative;
  top: 50px;
}

.leftButton {
  position: absolute;
  left: 4vw;
}

.linkButtons {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}