#page2 {
  display: block;
  position: relative;
  background-image: linear-gradient(to top, rgba(107, 0, 190, 0.76), #31cdff);
}

#profilePhoto{
  /* border: 3px solid black; */
  border-radius: 50%;
  
  height: 40vh;
  width: 40vh;

  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 20%;

  background-image: url(assets/profilePicture.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

#aboutMeTitle{
  /* border: 3px solid blue; */
  border: none;
  height: 8vh;
  width: 36%;

  position: absolute;
  transform: translateX(-50%);
  top: 36%;
  left: 75%;

  font-size: 4vh;
}

#aboutMeText {
  /* border: 3px solid black; */
  border: none;
  height: 20vh;
  width: 36%;

  position: absolute;
  transform: translateX(-50%);
  /* transform: translateY(-50%); */
  top: 46%;
  left: 75%;

  font-size: 4h;
}
