#githubSlide{
    background-image: url(assets/GitHub.png);
    background-repeat: no-repeat;
    background-position: center;

	background-size: 100%;
    
    width: 50vw;
	height: 52vh;
}

#hackathonsSlide{
    background-image: url(assets/Devpost.png);
    background-repeat: no-repeat;
    background-position: center;

	background-size: 100%;

    width: 50vw;
	height: 52vh;
}


#carouselSlide{
    background-image: url(assets/Carousel.png);
    background-repeat: no-repeat;
    background-position: center;

	background-size: cover;

    width: 50vw;
	height: 52vh;
}

#fixableAppSlide{
    background-image: url(assets/Fixable.png);
    background-repeat: no-repeat;
    background-position: center;

	background-size: cover;

    width: 50vw;
	height: 52vh;
}

#backgroundChangerSlide{
    background-image: url(assets/BgrChanger.png);
    background-repeat: no-repeat;
    background-position: center;

	background-size: cover;

    width: 50vw;
	height: 52vh;
}