<<<<<<< HEAD
*{
	padding: 0;
	margin: 0;
}

body {
  background-image: linear-gradient(to bottom, rgba(107, 0, 190, 0.76), #31cdff);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: 24px;
  text-align: center;
  line-height: 70px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.linkButtons {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 5px rgba(169, 89, 230, 0.685);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.15);
  z-index: 2;
}

#githubButton {
  background-image: url(assets/GitHub.png);
  background-repeat: no-repeat;
  background-position: center;

	background-size: 80%;
	
  width: 10vw;
	height: 8vh;

  position: absolute;
  top: 50px;
  right: 4vw;
}

.mainText {
  margin-top: 0;
  margin-left: 4vw;
  margin-right: 4vw;

  font-family: "perpetua, helvetica";
  font-size: 20px;
  text-align: center;
  line-height: 35px;
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

#page1 {
    background-image: linear-gradient(to bottom, rgba(107, 0, 190, 0.76), #31cdff);
}

#page2 {
    background-image: linear-gradient(to top, rgba(107, 0, 190, 0.76), #31cdff);
}

#page3 {
    background-image: linear-gradient(to bottom, rgba(107, 0, 190, 0.76), #31cdff);
>>>>>>> 2f10912 (initial revamp)
}