*{
	padding: 0;
	margin: 0;
}

.container{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;

  background-image: linear-gradient(to bottom, rgba(107, 0, 190, 0.76), #31cdff);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "perpetua, helvetica";
}

#error{
  background-image: url("../assets/404.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#errorMessage, #note{text-align: center;}

a:link, a:visited, a:active {color: black;}


@media only screen and (min-width: 400px) { /* modelled using desktop in Chrome */
  .container{
    position: absolute;
    display: block;
  }

  #error{
    width: 50%;
    height: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 25%;
    left: 50%;
  }

  #errorMessage{
    border: none;

    height: 10vh;
    width: 50%;

    position: absolute;
    transform: translateX(-50%);
    top: 75%;
    left: 50%;

    font-size: 3vh;
  }

  #note {
    border: none;

    height: 10vh;
    width: 50%;

    position: absolute;
    transform: translateX(-50%);
    top: 84%;
    left: 50%;

    font-size: 3vh;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }
}


@media only screen and (max-width: 400px) { /* modelled using iphone SE in Chrome */
  .container{
    display: grid;
    grid-template-columns: 15vw auto 15vw;
    grid-template-rows: 28vh 20vh 4vh 10vh 7.5vh auto;
  }

  #error{
    width: 67.5vw;
    height: auto;
    
    grid-column: 2;
    grid-row: 2;
  }

  #errorMessage{
    height: auto;
    width: 100vw;

    grid-column: 1 / 4;
    grid-row: 4;

    font-size: 5.25vw;
  }

  #note {
    height: 10vh;
    width: 100vw;

    grid-column: 1 / 4;
    grid-row: 6;

    font-size: 5.25vw;
    line-height: 4vh;
  }
}